@model NutriHub.Models.PacientePlanNutricional

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminarlo?</h3>
<div>
    <h4>PacientePlanNutricional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.estado, "Estado:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.estado)
                </div>
            </div>
        </dd>

        <dt>
            @Html.LabelFor(model => model.kcal, "Kcal:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.kcal)
                </div>
            </div>
        </dd>

        <dt>
            @Html.LabelFor(model => model.Paciente.ocupacion, "Ocupación:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.Paciente.ocupacion)
                </div>
            </div>
        </dd>

        <dt>
            @Html.LabelFor(model => model.PlanNutricional.proposito, "Proposito:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.PlanNutricional.proposito)
                </div>
            </div>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
