@model NutriHub.Models.ReporteIngesta

@{
    ViewBag.Title = "Reporte de ingesta";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<div class="container body-content">

    <h2>Reporte de ingesta</h2>

    @using (Html.BeginForm("ReporteIngesta", "ReporteIngesta", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Su nombre", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.correo, "Su correo electrónico", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.correo, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.password, "Su contraseña", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.password, new { @class = "form-control", Type = "password" })
                @Html.ValidationMessageFor(model => model.password, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.descripcionIngesta, "Descripción de su ingesta", new { @class = "col-md-4 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.descripcionIngesta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.descripcionIngesta, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.descripcionIngesta, "Adjuntar foto", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.archivo, new { type = "file" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button type="submit" class="btn btn-primary">Enviar reporte</button>
            </div>
        </div>

    }


    <h3> @ViewBag.Message </h3>

    <h3> @ViewBag.Error </h3>

</div>

