@model NutriHub.Models.Paciente

@{
    ViewBag.Title = "Eliminar paciente";
}

<h2>Eliminar paciente</h2>

<h3>¿Desea eliminar este paciente? </h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.Usuario.nombreUsuario, "Nombre del usuario:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.Usuario.nombreUsuario)
                </div>
            </div>
        </dd>

        <dt>
            @Html.LabelFor(model => model.Usuario.cedula, "Cédula:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.Usuario.cedula)
                </div>
            </div>
        </dd>

        <dt>
            @Html.LabelFor(model => model.Usuario.idUsuario, "Identificador interno:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <div class="col-md-10">
                <div class="label">
                    @Html.DisplayFor(model => model.Usuario.idUsuario)
                </div>
            </div>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
